* {
    box-sizing: border-box;
}
h1,h2,h3,h4{
    text-align: center;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #111111;
  
}
header{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #87ffff;
    
     font-family:'Caveat', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Pacifico', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-size: 40px;
        font-weight: bold;
}
.item-logo{
    width: 80px;
    height: 80px;
}
.menu-button{
    font-size: 20px;
}
.menu-drop{
    width: 350px;
}
.name-page{
    font-weight: bold;
    font-size: 40px;
    border: 2px dashed rebeccapurple;
    padding: 10px;
    box-shadow: 0 0 0 3px red,
            0 0 0 6px blue,
            3px 0 0 6px orange;
            max-width: 400px;
            text-align: center;
}
.menu-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-card{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.dropdown-link{
    color: #111111;
}
.materials-img{
    position: relative;
}
.materials-cap{
    position: absolute;
    top: 15px;
     font-family:'Caveat', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Pacifico', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-size: 40px;
        font-weight: bold;
        color: #87ffff;
}
.lessons-buton-nav{
    font-family: 'Times New Roman', Times, serif;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #339999;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}
.footer-item-size{
    width: 70px;
    height: 70px;
    
}
.footer-item{
    padding-bottom: 20px;
}
.video{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-bottom: 20px;
}
.video-item:hover, .footer-item:hover,
.card-hover:hover{
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
.video-background {
    background-color: #339999;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
   color: #fff;
}

.card-games{
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-desc{
   padding: 40px;

}
.games-item{
    background-color: #339999;
    font-size: 20px;
    color: #fff;
    text-align: center;    
}
.card-container-item{
padding: 20px;
list-style: none;

}

@media screen and (min-width: 1200px){
.card-container-item{
    flex-basis: calc((100% - 90px) / 3);   
}
       
}

@media screen and (min-width: 768px){
.card-container-item{ 
    flex-basis: calc((100% - 60px) / 2);
    width: 370px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}


}
